<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <title>Build Result</title>
    <body marginwidth="0" marginheight="0" offset="0" topmargin="0" leftmargin="0">
        <center>
            <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td valign="top" align="center" id="bodyCell">
                            <!-- BEGIN TEMPLATE // -->
                            <!-- BEGIN BODY // -->
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" mc:edit="body_content00" class="bodyContent">
                                            <h1>Build Result</h1>
                                            <li>passes: <%= passes %></li>
                                            <% if (pending > 0) { %>
                                                <li>pending: <%= pending %></li>
                                            <% } %>
                                            <% if (failures > 0) { %>
                                                <li>failures: <%= failures %></li>
                                                <h1>Failures</h1>
                                                <%= failureTitles %>
                                            <% } %> <br />

                                            <h1>Commit Detail</h1>
                                            <li>Commit: <a href='<%= commit.url %>'><%= commit.id %></a></li>
                                            <li>Author: <%= commit.author.name %> <%= commit.author.email %></li>
                                            <li>Log: <%= commit.message %></li>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- // END TEMPLATE -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>
