<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"  content="text/html charset=UTF-8" />
    </head>
    <title>Build Result</title>
    <body marginwidth="0" marginheight="0" offset="0" topmargin="0" leftmargin="0">
        <center>
            <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                <tbody>
                    <tr>
                        <td valign="top" align="center" id="bodyCell">
                            <!-- BEGIN TEMPLATE // -->
                            <!-- BEGIN BODY // -->
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody>
                                    <tr>
                                        <td valign="top" mc:edit="body_content00" class="bodyContent">
                                            <h1>Build Result</h1>
                                            <p><b>Project: </b> <%= repoName %> --- <b>Branch: </b><%= branch %></p>
                                            <li><b>Number of Tests:</b> <%= totalTests %></li>
                                            <li><b>Tests Duration:</b> <%= duration %> ms</li>
                                            <li><b>Tests Passes:</b> <%= passes %></li>
                                            <% if (pending > 0) { %>
                                                <li><b>Tests Pending:</b> <%= pending %></li>
                                            <% } %>
                                            <% if (failures > 0) { %>
                                                <li><b>Tests Failures:</b> <%= failures %></li>
                                                <h1>Failures</h1>
                                                <% failureTitles.forEach(function(fail){ %>
                                                    <li><%= fail %></li>
                                                <% }) %>
                                            <% } %> <br />
                                            <h1>Commit Detail</h1>
                                            <li><b>Commit:</b> <a href='<%= commit.url %>'><%= commit.id %></a></li>
                                            <li><b>Author:</b> <%= commit.author.name %> <%= commit.author.email %></li>
                                            <li><b>Log:</b> <%= commit.message %></li>
                                            <li><a href='<%= report %>'><b>See Coverage Here!</b> </a></li>
                                            <li>
                                                <h2>JSHint</h2>
                                                <table style="margin: 0;padding: 0;border-collapse: collapse;border: 1px #000 solid;">
                                                    <thead>
                                                        <tr style="border: 1px; border-bottom: 1px #000 solid;">
                                                            <th style="border-right: 1px #000 solid;">
                                                                File
                                                            </th>
                                                            <th style="border-right: 1px #000 solid;">
                                                                Line
                                                            </th>
                                                            <th style="border-right: 1px #000 solid;">
                                                                Col
                                                            </th>
                                                            <th style="border-right: 1px #000 solid;">
                                                                Reason
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% lint.forEach(function(error){ %>
                                                            <tr style="border-bottom: 1px #000 solid;">
                                                                <td style="border-right: 1px #000 solid;">
                                                                    <%= error.file %>
                                                                </td>
                                                                <td style="border-right: 1px #000 solid;">
                                                                    <%= error.error.line %>
                                                                </td>
                                                                <td style="border-right: 1px #000 solid;">
                                                                    <%= error.error.character %>
                                                                </td>
                                                                <td style="border-right: 1px #000 solid;">
                                                                    <%= error.error.reason %>
                                                                </td>
                                                            </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </li>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- // END TEMPLATE -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>
